---
---
@import 'feed';

body {
    padding-top: 60px;
    padding-bottom: 60px;
}


.copyright {
    color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
    
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}





/*sidebar*/
.top {
    text-align: center;
}
.strong {
    font-weight: 900;
    margin-bottom: 1em;
    text-align: center;
}
.pic-container {
    text-align: center;
    margin-bottom: 1em;
}



.profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    box-shadow: 2px 0 3px black ;
    text-align: center;
    animation: scaleIn 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: scale(.97);
  }
  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

