<div class="sidebar well top">

{% if site.profile_pic != '' %}
  <div class='pic-container'>
    <img class='profile-pic' src='{{site.profile_pic}}' alt='wes aspinall profile pic'>
  </div>
{% endif %}

<div class='strong'>Hi, I'm Wes. I'm a Web Developer based in Miami, FL.</div>
{{ site.description }}
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
