/*Home page post feed*/


.post-feed {
  list-style-type: none;
  max-width: 500px;
  padding-right: 2em;
  animation: fadeIn 0.8s;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
  background-color: #F5F5F5;
 }

.card {
  margin-bottom: 2em;
  max-width: 500px;
  img {
    border-radius: 50px;
  }
}

.post-description {
  width: 400px;
  padding-top: 1em;
  padding-right: 1em;
  font-size: 1.3em;
}

.read-more {
  padding-top: 1em;
}

@media (min-width: 768px) {
  .post-feed {
    margin-left: 35%;
  }
}

@media (min-width: 992px) {
  .post-feed {
    margin-left: 28%;
  }
}
